<div class="app-header">
  <h1>Note</h1>
</div>
<bit-divider>Examples</bit-divider>
<bit-note bitType="info" bitTitle="Informational Note">
  Content of the note.
</bit-note>
<bit-note bitType="warning" bitTitle="Warning Note">
  Content of the note.
</bit-note>
<bit-note bitType="error" bitTitle="Error Note">
  Content of the note.
</bit-note>
<bit-note bitType="success" bitTitle="Success Note">
  Content of the note.
</bit-note>
<pre class="bit-pre">
<code class=" language-markup">
&#x3C;bit-note bitType=&#x22;info&#x22; bitTitle=&#x22;Informational Note&#x22;&#x3E;
  Content of the note.
&#x3C;/bit-note&#x3E;
&#x3C;bit-note bitType=&#x22;warning&#x22; bitTitle=&#x22;Warning Note&#x22;&#x3E;
  Content of the note.
&#x3C;/bit-note&#x3E;
&#x3C;bit-note bitType=&#x22;error&#x22; bitTitle=&#x22;Error Note&#x22;&#x3E;
  Content of the note.
&#x3C;/bit-note&#x3E;
&#x3C;bit-note bitType=&#x22;success&#x22; bitTitle=&#x22;Success Note&#x22;&#x3E;
  Content of the note.
&#x3C;/bit-note&#x3E;
</code>
</pre>
<bit-divider bitClass="section-divider">API</bit-divider>
<app-api-table [api]="api"></app-api-table>