.api-table{
    display: table;
    color: #0f0f0f;
    font-size: 15px;
    width:100%;
    border: 1px solid #e8e8e8;
    border-bottom:none;
    border-radius: 4px;
}
  
.api-row{
display: table-row;
}

.api-column{
display:table-cell;    
padding: 20px;
border-bottom: 1px solid #e8e8e8;    
}

.api-header{
display: table-row;
font-size: 16px;    
}

.api-header .api-column{    
background: #f7f7f7;
padding: 8px 20px;
padding-top: 14px;
}

.api-header .api-column-first{
border-right: none;
}
