<div class="app-header">
  <h1>Divider</h1>
</div>
<bit-divider>Left Text</bit-divider>
<bit-divider bitOrientation="center">Centered Text</bit-divider>
<bit-divider bitOrientation="right">Right Text</bit-divider>
<bit-divider></bit-divider>
<pre class="bit-pre">
  <code class=" language-markup">
    &#x3C;bit-divider&#x3E;Left Text&#x3C;/bit-divider&#x3E;
    &#x3C;bit-divider bitOrientation=&#x22;center&#x22;&#x3E;Centered Text&#x3C;/bit-divider&#x3E;
    &#x3C;bit-divider bitOrientation=&#x22;right&#x22;&#x3E;Right Text&#x3C;/bit-divider&#x3E;
    &#x3C;bit-divider&#x3E;&#x3C;/bit-divider&#x3E;
  </code>
</pre>


<bit-divider bitClass="section-divider">API</bit-divider>
<app-api-table [api]="api"></app-api-table>
