.wrapper bit-button{
    margin-right: 10px;
}

.example-wrapper{
    display: inline-block;
}

.checkbox{
    margin-left: 10px;    
}

.message{
    color: white;
    border-radius: 4px;    
    margin-left: 10px;
    padding: 2px 5px;
    background-color: #f92672;    
    display: none;
}

.message-show{
    display: inline-block;
}