<script>
  // Store the URL the user was trying to access when receiving the 404.
  sessionStorage.redirect = location.href;
</script>
<div class="container">
  <div class="content">
    <span class="errorCode">404</span>
    <span class="errorMsg">O-o-oh!, page not found.</span>
    <span class="description">We can't find the page you are looking for.</span>
    <span class="description">You can navigate from the list or...</span>
    <span class="goHomeSpan">
      <bit-button class="goHomeButton" bitType="stroked" routerLink="/card">Go Home</bit-button>
    </span>
  </div>
</div>