<div class="app-header">
  <h1>Getting Started</h1>
</div>
<bit-divider>Installation</bit-divider>
<p>Install using one of the following:</p>
<pre class="bit-pre">
  <code class=" language-markup">
    $ ng add ng-bits
    $ npm i ng-bits
    $ yarn add ng-bits
  </code>
</pre>
<bit-divider>Usage</bit-divider>
<p>Import the module into your app.module.ts file</p>
<pre class="bit-pre">
  <code class=" language-markup"> 
    {{import}}

    {{ngModule}}
    {{imports}}
    {{ngModuleEnd}}
    {{export}}
  </code>
</pre>
<bit-divider>Repository</bit-divider>
<p>
  <a href="https://github.com/antonio07c/ng-bits">github.com/antonio07c/ng-bits</a>
</p>
<bit-divider>License</bit-divider>
<p>MIT</p>